/*  your css code here. If applicable */
.container{
	background-color: rgb(211, 211, 211);
	padding:10px;
}
.nav{
	background-color:#D3D3D3;
}
li{
	display: inline;
	margin-right:1rem;
}
ul{
	display: flex;
	list-style: none;
}